{% extends 'base.html.twig' %}

{% block header %}
    {% include 'header/default.html.twig' %}
{% endblock %}

{% block content %}
    {% include 'header/hobbyFamilies.html.twig' %}

    <div class="categories_background" data-controller="categoriesfilter">
        {% if hobbies is not defined %}
            {% if hobby_categories is defined %}
                <div class="categories_search">
                    <input  data-action="keyup->categoriesfilter#categories_filter" data-categoriesfilter-target="filter" type="text" placeholder="Enter a sport: taekwondo, badminton..." class="categories_search_input">
                    <div class="search_icon"></div>
                </div>
                <div class="categories">
                    {% for hobby_category in hobby_categories | sort((a,b) => a.name <=> b.name) %}
                        <a data-categoriesfilter-target="category" class="category" href="{{ path('app_hobbiesKorea', { family_name: hobby_category.hobbyFamilies.name, category_name: hobby_category.name}) }}">
                            {{ hobby_category.name }}
                        </a>
                    {% endfor %}
                </div>

            {% endif %}
        {% endif %}
        {% if hobbies is defined %}
            <div class="category_title">
                {{ selected_category }}
            </div>
        {% endif %}
    </div>

    {% if hobbies is defined %}
    <div>
        {% for hobby in hobbies %}
            {% if loop.last %}
                <div class="hobbies_count">
                    <div class="hobbies_count_text">
                        {{ loop.length }} results
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <div class="hobbies_results_area">
            <div class="hobbies_results">
                {% for hobby in hobbies %}
                    {% include 'hobby/_hobbyCard.html.twig' %}
                {% endfor %}
            </div>
            <div class="hobbies_map">
                <div class="map"
                        {{ stimulus_controller('map', {
                            latlong: coordinates,
                        }) }}
                        {{ stimulus_target('map', 'map') }}>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}