{% extends 'base.html.twig' %}

{% block header %}
    {% include 'header/default.html.twig' %}
{% endblock %}

{% block content %}
    {% include 'header/hobbyFamilies.html.twig' %}

    <div class="categories_background">
        {% if hobbies is not defined %}
            {% if hobby_categories is defined %}

                <div class="categories">
                    {% for hobby_category in hobby_categories %}
                        <a class="category" href="{{ path('app_hobbiesKorea', { family_name: hobby_category.hobbyFamilies.name, category_name: hobby_category.name}) }}">
                            {{ hobby_category.name }}
                        </a>
                    {% endfor %}
                </div>

            {% endif %}
        {% endif %}
        {% if hobbies is defined %}
            <div class="category_title">
                {{ selected_category }}
            </div>
        {% endif %}
    </div>

    {% if hobbies is defined %}
    <div>
        {% for hobby in hobbies %}
            {% if loop.last %}
                <div class="hobbies_count">
                    <div class="hobbies_count_text">
                        {{ loop.length }} results
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <div class="hobbies_results">
            {% for hobby in hobbies %}
                <div class="hobby_card_background">
                    <div class="hobby_card">
                        <div class="hobby_card_top">
                            <div class="hobby_card_top_left">
                                <div class="hobby_card_titles">
                                    <div class="hobby_card_title">
                                        {{ hobby.name }}
                                    </div>
                                    <div class="hobby_card_hangeul">
                                        {{ hobby.hangeulName }}
                                    </div>
                                </div>
                                <div class="hobby_card_phone">
                                    {{ hobby.phoneNb }}
                                </div>
                            </div>
                            <!-- additional information generated through database -->
                            <div class="hobby_card_top_right">
                                <div class="hobby_card_add_info">
                                    <div class="hobby_card_add_info_button">
                                        Rackets provided
                                    </div>
                                    <div class="hobby_card_add_info_button">
                                        Individual training
                                    </div>
                                </div>
                                <div class="hobby_card_basic_info">
                                    <div class="hobby_card_basic_info_button">
                                        <div class="hobby_card_basic_info_button_main_text">
                                            10:30 - 22:30
                                        </div>
                                        <div class="hobby_card_basic_info_button_sub_text">
                                            everyday
                                        </div>
                                    </div>
                                    <div class="hobby_card_basic_info_button">
                                        <div class="hobby_card_basic_info_button_main_text">
                                            5000 wons
                                        </div>
                                        <div class="hobby_card_basic_info_button_sub_text">
                                            for 1 hour
                                        </div>
                                    </div>
                                    <div class="hobby_card_basic_info_button">
                                        <div class="hobby_card_basic_info_button_main_text">
                                            0.5 kms
                                        </div>
                                        <div class="hobby_card_basic_info_button_sub_text">
                                            10 min walk
                                        </div>
                                    </div>
                                </div>
                                <div class="favorite_add"></div>
                            </div>
                        </div>
                        <div class="hobby_card_bottom">
                            <div class="hobby_card_bottom_button">
                                See more
                            </div>
                            <div class="hobby_card_bottom_button">
                                Visit website
                            </div>
                            <div class="hobby_card_bottom_button">
                                Ask for support
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock %}