{% extends 'base.html.twig' %}

{% block header %}
    {% include 'header/default.html.twig' %}
{% endblock %}

{% block content %}
    {% include 'header/hobbyFamilies.html.twig' %}

    <div class="categories_background">
        {% if hobbies is not defined %}
            {% if hobby_categories is defined %}

                <div class="categories">
                    {% for hobby_category in hobby_categories %}
                        <a class="category" href="{{ path('app_hobbiesKorea', { family_name: hobby_category.hobbyFamilies.name, category_name: hobby_category.name}) }}">
                            {{ hobby_category.name }}
                        </a>
                    {% endfor %}
                </div>

            {% endif %}
        {% endif %}
        {% if hobbies is defined %}
            <div class="category_title">
                {{ selected_category }}
            </div>
        {% endif %}
    </div>

    {% if hobbies is defined %}
    <div>
        {% for hobby in hobbies %}
            <div class="hobbies_count">
                <div class="hobbies_count_text">
                    {{ loop.length }} results
                </div>
            </div>
        {% endfor %}

        <div class="hobbies_results">
            {% for hobby in hobbies %}

                <div class="hobby_card">
                    {{ hobby.name }}
                </div>

            {% endfor %}
            <div class="hobby_card">

            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}